
.title{
    padding-bottom: 10px;
}

.detail{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.homeL1{
    background-color: #ace5f3 !important;
}
.homeL1-1{
    background-color: #6acfe8 !important;
}
.homeL{
    background-color: #f3f3f3 !important;
}
.homeL2{
    background-color: #fbacd5 !important;
}

.homeL4{
    background-color: #383838 !important;
}
