 .YBparallax-container {
    position: relative;
    overflow: hidden;
    height: 560px;
}

.title{
    padding-bottom: 10px;
}

.detail{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.homeL1{
    background-color: #e1a4e8;
}
.homeL1-1{
    background-color: #c870d3;
}
.homeL2{
    background-color: #feddff;
}
.homeL3{
    background-color: #f48fb1;
}

.homeL4{
    background-color: #949494;
}
