/* The main content */
.main-content{
    /*old*/
    padding-top: 60px;
    min-height: 600px;
}

.YBYY{
    border-radius: 10px;
}
.opacity{
    opacity: 0.9;
}

.bg1{
    background:url(/background.png);
    
}
.bg2{
    background-image:url(/background2);
    width:100%;
    position:relative;
}
.bg3{
    background-image:url(/background1);
    width:100%;
    position:relative;
}

.YBcard{
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.YBsmallcard{
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}


/* YB背景色 */
.YByellow{
    background-color: #FFF7D2;
}
.YBpurple{
    background-color: #95519e;
}
.YBgreen{
    background-color: #9FCA64;
}
.YBblue{
    background-color: #b1c5e2;
}
/*Color*/
.YByellowfont{
    color: #FFF7D2;
}
.YBpurplefont{
    color: #95519e;
}
.YBgreenfont{
    color: #9FCA64;
}
.YBbluefont{
    color: #b1c5e2;
}

.YByellowdivider{
    height: 1px;
    overflow: hidden;
    background-color: #FFF7D2;
}
.YBpurpledivider{
    height: 1px;
    overflow: hidden;
    background-color: #95519e;
}

.YBgreendivider{
    height: 1px;
    overflow: hidden;
    background-color: #9FCA64;
}