/* The main content */
.main-content{
    /*old*/
    padding-top: 60px;
    min-height: 600px;
}

.bg1{
    background:url(/background.png);
    width:100%;
    position:relative;
}
.bg2{
    background-image:url(/background2);
    width:100%;
    position:relative;
}
.bg3{
    background-image:url(/background1);
    width:100%;
    position:relative;
}

.YBcard{
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

/* YB背景色 */
.YByellow{
    background-color: #FFF7D2;
}
.YBpurple{
    background-color: #bd89d6;
}
.YBgreen{
    background-color: #9FCA64;
}
.YBblue{
    background-color: #b1c5e2;
}
/*Color*/
.YByellowfont{
    color: #FFF7D2;
}
.YBpurplefont{
    color: #bd89d6;
}
.YBgreenfont{
    color: #9FCA64;
}
.YBbluefont{
    color: #b1c5e2;
}

.YByellowdivider{
    height: 1px;
    overflow: hidden;
    background-color: #FFF7D2;
}
.YBpurpledivider{
    height: 1px;
    overflow: hidden;
    background-color: #bd89d6;
}

.YBgreendivider{
    height: 1px;
    overflow: hidden;
    background-color: #9FCA64;
}