.logo {
    max-width: 200px;
    margin: auto;
}

.YBbtn{
     min-width: 120px;
    max-height: 25px;
    margin-top:20px;
    margin-bottom:20px;
    background-color: blue;
}

/* new header */

// OFFSET FOR LOWER NAVBAR
.navbar-fixed {
    top: -64px;
}

// NAVBAR TWEAK
// Prevents content jump when navbar becomes fixed
.navbar-lower {
    @media only screen and (max-width: 600px) {
        height:49px;
    } // SMALL
    @media only screen and (min-width: 600px) and (max-width: 992px) {
        max-height: 29px;
    } // MEDIUM
    @media only screen and (min-width: 993px) {
        height: 112px;
    } // LARGE
}

// ADD SHADOW TO LOWER NAVBAR
.navbar-lower nav {
    // Not working. Hmmm.
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.14), 0 1px 5px -2px rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

// FIX NAVBAR TAB HEIGHT ISSUE AFTER SCROLL
.nav-extended {
    @media only screen and (max-width: 600px) {
        max-height:48px;
    } // SMALL
    @media only screen and (min-width: 600px) and (max-width: 992px) {
        max-height: 48px;
    } // MEDIUM
    @media only screen and (min-width: 993px) {
        max-height: 112px;
    } // LARGE
}

// FIX SIDEBAR'S OVERLAY ISSUE
// Not working. Hmmm.
.side-nav {
    z-index: 999;
}

#sidenav-overlay {
    z-index: 800;
}

.navbar-fixed {
    z-index: 900;
}

// SMALL LOGO
nav .fadeInLogo {
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    float: left;
    display: none;
}

// RESTYLE MATERIALIZE SEARCH INPUT
nav .input-field input[type=search] {
    width: 0px;
}

nav .input-field input[type=search]:focus {
    width: 320px;
    color: transparent; // Remove blinking cursor 1/2
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.87); // Remove blinking cursor 2/2
}

//CUSTOM ROW STYLE WITH NO CLEAR AFTER
.row-noclear:after {
    clear: none!important;
}

// CUSTOM NAVBAR DROPDOWN SIZES
ul#dropdown1.dropdown-content {
    width: 400px!important;
}

ul#dropdown1.dropdown-content:active {
    width: 400px!important;
}

#photo-bg {
    background-image: url(http://lorempixel.com/1920/720/technics/1);
}

// FIX SIDENAV SPACING
.side-nav li>a {
    padding: 0 16px;
}

//FIX SIDEBAR DIVIDERS
.side-nav .divider {
    margin: 0;
    height: 8px;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
}

// SIDENAV HEADER
.sidenav-header {
    background: url("../images/user-bg.jpg") no-repeat center center;
    background-size: cover;
    margin-bottom: 0px;
    padding: 15px 0 0 15px;
    .row {
        margin-bottom: 0;
    }
}

.sidenav-footer {
    margin-bottom: 0px;
    padding: 0;
    .row {
        margin-bottom: 0;
        .social-icons {
            a {
                opacity: 0.5;
                padding: 0;
                text-align: center;
                &:hover {
                    background-color: inherit;
                    opacity: 1;
                }
            }
        }
    }
}

//CUSTOM NAVBAR FOR BREADCRUMBS
.nav-transparent {
    background-color: transparent;
    box-shadow: none;
}

// DARK
.nav-breadcrumbs-dark {
    .breadcrumb {
        color: rgba(0, 0, 0, 0.5);
    }
    .breadcrumb:last-child {
        color: rgba(0, 0, 0, 1);
    }
    .breadcrumb:before {
        color: rgba(0, 0, 0, 0.2);
    }
}

// TRANSIFEX LANGUAGE CHOOSER
#tx-live-lang-container {
    background-color: rgb(252, 252, 252);
    z-index: 999;
    #tx-live-lang-picker {
        background-color: rgb(252, 252, 252);
        li {
            color: rgba(0, 0, 0, 0.87);
            &:hover {
                color: inherit;
                background-color: rgb(253, 234, 235);
            }
        }
    }
    .txlive-langselector-toggle {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgb(238, 110, 115);
    }
    .txlive-langselector-current {
        color: rgba(0, 0, 0, 0.87);
    }
    .txlive-langselector-marker {
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0.61);
    }
}

.txlive-langselector {
    position: fixed;
    z-index: 999999;
    min-width: 120px;
    line-height: 32px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: inherit;
    * {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: initial;
        border-right-style: initial;
        border-bottom-style: initial;
        border-left-style: initial;
        border-top-color: initial;
        border-right-color: initial;
        border-bottom-color: initial;
        border-left-color: initial;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        font-style: inherit;
        font-variant-ligatures: inherit;
        font-variant-caps: inherit;
        font-variant-numeric: inherit;
        font-weight: inherit;
        font-stretch: inherit;
        font-size: inherit;
        line-height: inherit;
        font-family: inherit;
        vertical-align: baseline;
        box-sizing: border-box;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        opacity: 1;
    }
    .txlive-langselector-toggle {
        overflow-x: hidden;
        overflow-y: hidden;
        display: block;
        padding-top: 2px;
        padding-right: 16px;
        padding-bottom: 2px;
        padding-left: 16px;
        width: 100%;
        height: 36px;
        cursor: pointer;
    }
    .txlive-langselector-current {
        float: left;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        max-width: 200px;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .txlive-langselector-marker {
        float: right;
        display: block;
        position: relative;
        width: 0px;
        height: 0px;
        margin-left: 8px;
        margin-top: 13px;
        border-right-width: 4px;
        border-right-style: dashed;
        border-right-color: transparent;
        border-left-width: 4px;
        border-left-style: dashed;
        border-left-color: transparent;
    }
}

.txlive-langselector.txlive-langselector-bottomright {
    top: auto;
    left: auto;
    right: 0px;
    bottom: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    .txlive-langselector-toggle {
        overflow-x: hidden;
        overflow-y: hidden;
        display: block;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgb(0, 111, 159);
        padding-top: 2px;
        padding-right: 16px;
        padding-bottom: 2px;
        padding-left: 16px;
        height: 36px;
        line-height: 32px;
        cursor: pointer;
    }
}

ul {
    &:not(.browser-default) {
        padding-left: 0px;
        list-style-type: none;
        li {
            list-style-type: none;
        }
    }
}

.txlive-langselector-list {
    position: absolute;
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    display: none;
    background-color: rgb(234, 241, 247);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 4px;
    color: rgb(102, 102, 102);
    list-style-type: none;
    >li {
        padding-top: 0px;
        padding-right: 16px;
        padding-bottom: 0px;
        padding-left: 16px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:hover {
            background-color: rgb(176, 185, 193);
            color: rgb(255, 255, 255);
            cursor: pointer;
        }
    }
}

.txlive-langselector-bottomright {
    >.txlive-langselector-list {
        top: auto;
        left: auto;
        right: 0px;
        bottom: 40px;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(244, 247, 249);
        border-top-left-radius: 2px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 2px;
    }
    .txlive-langselector-marker {
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: rgb(255, 255, 255);
    }
}

.txlive-langselector-topright {
    >.txlive-langselector-list {
        border-top-left-radius: 2px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 2px;
    }
}

.txlive-langselector-bottomleft {
    .txlive-langselector-marker {
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-bottom-color: rgb(255, 255, 255);
    }
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #eeeeee;
}
