.logo {
    max-width: 200px;
}

.type-logo{
    top:10px;
}

.top{
    top:0px !important;
}

html, body, .block {
    height: 100%;
}
html, body, .headerblock {
    height: 100%;
}

.YBbtn{
    min-width: 120px;
    max-height: 25px;
    margin-top:20px;
    margin-bottom:20px;
    background-color: blue;
}

   /*Class for when element is above threshold*/
  .pin-top {
    position: relative;
  }

   /*Class for when element is below threshold*/
  .pin-bottom {
    position: relative;
  }

   /*Class for when element is pinned*/
  .pinned {
    position: fixed !important;
  }