
.form-signin {
	width: 100%;
	max-width: 500px;
}

.login-form{
    padding: 24px 24px 20px;
    position: relative;
}


.login-background{
	background:url(/login-background.jpg);
	height:100%;
	width:100%;
	position:fixed;
	top:125px;
	left:0;
	right:0;
	bottom:-125px;
}


.login-form-logo {
	width: 100%;
	margin-bottom: 10px;
}

.login-form-control {
	height: 55px;
	margin-bottom: 10px;
}

#login-btn {
	margin-bottom: 60px;
}

@media (max-width: 768px) {
  .form-signin {
	padding: 0px 10px 0px 10px;
	}
}

.YBlogin-btn, .YBlogin-btn-large, .YBlogin-btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 40px;
		width: 100%;
		background-color:#bd89d6; 
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}



