/* Namespace all things! */

/* Design Parameters

	font-size:   14px;
	line-height: 20px;
	color:       rgba(255, 255, 255, 0.6);
	navbar:      rgba(0,0,0,.36);

*/

.MeteorToys_pubsub_header, .MeteorToys_pubsub_content {
	min-width: 304px; /* box width minus 8px from each side */
	
}

.MeteorToys_pubsub_header {
	line-height: 28px;

	text-indent: 8px;
	overflow:  hidden;
}

.MeteorToys_pubsub_content {
	height:  calc(100% - 28px);
	padding: 0px 8px;
	overflow: auto
}

.MeteorToys_pubsub_button { 
	float:       right;
	border-left: 1px solid rgba(0,0,0,.36);
	padding:     0 8px;
	text-indent: 0px;
}
.MeteorToys_pubsub_button:hover {
	cursor: pointer;
}

.MeteorToys_pubsub_row {
	border-bottom: 1px solid rgba(0,0,0,.36);
	padding: 4px 0;
}
.MeteorToys_pubsub_row_toggle {
	float: right;
	font-size: 32px;
	line-height: 44px;
	margin: -4px 0px;
	margin-right: -8px;
	padding: 0 8px;
	padding-top: 4px;
	font-weight: normal;
}
.MeteorToys_pubsub_row_toggle:hover {
	cursor: pointer;
}
.MeteorToys_pubsub_row_name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}