/* Namespace all things! */

/* Design Parameters

	font-size:   14px;
	line-height: 20px;
	color:       rgba(255, 255, 255, 0.6);
	navbar:      rgba(0,0,0,.36);

*/

.MeteorToys_email_header, .MeteorToys_email_content {
	min-width: 304px; /* box width minus 8px from each side */
}

.MeteorToys_email_header {
	line-height: 28px;

	text-indent: 8px;
	overflow:  hidden;
}

.MeteorToys_email_content {
	height:  calc(100% - 28px);
	/*padding: 4px 8px;*/
	overflow: scroll;
	
	-webkit-touch-callout: default;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

.MeteorToys_email_content pre {
	line-height: 18px;
	margin-top: 3px;
}

.MeteorToys_email_button { 
	float:       right;
	border-left: 1px solid rgba(0,0,0,.3);
	padding:     0 8px;
	text-indent: 0px;
	font-size:   20px;
	font-weight: bold;
	text-align:  center;
}
.MeteorToys_email_button:hover {
	cursor: pointer;
	color: rgba(131, 202, 237, 1);
}

.MeteorToys_email_content textarea {
	height: 100%;
}

.MeteorToys_content {
	border-bottom: 1px solid rgba(0,0,0,.36);
	text-align: right;
	width: calc(100% - 16px);
	line-height: 28px;
	margin: 0 8px;
}

.MeteorToys_content_name {
	float: left;
	line-height: 28px !important;
	height: 28px; 
}

.MeteorToys_content_content {
	width: 70%;
	display: inline-block;
	text-align: left;
	line-height: 22px;
	padding: 3px 0;
}

.MeteorToys_email_count {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 18px;
	width: 18px;
	line-height: 20px;
	border-radius: 20px;
	font-size: 12px;
	text-align: center;
	z-index: 2147483647;
}
