.MeteorToys_template_header, .MeteorToys_template_content {
	min-width: 304px; /* box width minus 8px from each side */
}
.MeteorToys_template_header {
	line-height: 28px;
	text-indent: 8px;
	overflow:  hidden;
}
.MeteorToys_template_content {
	height:  calc(100% - 28px);
	padding: 4px 8px;
	overflow-y: scroll;

}
.MeteorToys_template_content pre {
	line-height: 18px;
	margin-top: 3px;
}
.MeteorToys_template_button { 
	float:       right;
	border-left: 1px solid rgba(0,0,0,.3);
	padding:     0 8px;
	text-indent: 0px;
}
.MeteorToys_template_button:hover {
	cursor: pointer;
	color: rgba(131, 202, 237, 1);
}
.MeteorToys_template_button strong {
	font-size: 20px;
}
.MeteorToys_template_content textarea {
	height: 100%;
}

#MeteorToys_template.MeteorToys_orb_active {
  -moz-transform: translate(0px,0px) !important;
  -ms-transform: translate(0px,0px) !important;
  -webkit-transform: translate(0px,0px) !important;
  transform: translate(0px,0px) !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}




.MeteorToys_fade_Mongol {
  -moz-transform: translate(-143px,143px);
  -ms-transform: translate(-143px,143px);
  -webkit-transform: translate(-143px,143px);
  transform: translate(-143px,143px);
  opacity: 0 !important;
  pointer-events: none;
}

.MeteorToys_fade_JetSetter {
  -moz-transform: translate(143px,143px);
  -ms-transform: translate(143px,143px);
  -webkit-transform: translate(143px,143px);
  transform: translate(143px,143px);
  opacity: 0 !important;
  pointer-events: none;
}

.MeteorToys_fade_Orb {
  -moz-transform: translate(0px,-143px) !important;
  -ms-transform: translate(0px,-143px) !important;
  -webkit-transform: translate(0px,-143px) !important;
  transform: translate(0px,-143px) !important;
  opacity: 0 !important;
  pointer-events: none;
}

.MeteorToys_fade_Notifications {
  -moz-transform: translate(143px,-143px) !important;
  -ms-transform: translate(143px,-143px) !important;
  -webkit-transform: translate(143px,-143px) !important;
  transform: translate(143px,-143px) !important;
  opacity: 0 !important;
  pointer-events: none;
}


.MeteorToys_template_content pre {
 /*width: 200px;*/
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}