/* Instructions: Change the word Method to your package name */

.MeteorToys_Method_header, .MeteorToys_Method_content {
	min-width: 304px; /* box width minus 8px from each side */
}

.MeteorToys_Method_header {
	line-height: 28px;
	background:  rgba(0,0,0,.36);
	text-indent: 8px;
	overflow:  hidden;
}

.MeteorToys_Method_content {
	height:  calc(100% - 28px);

}
.MeteorToys_Method_content .MeteorToys_row_hoverable:hover {
	margin: 0 -9px !important;
	padding-left: 9px !important;
	padding-right: 9px !important;
}
.MeteorToys_Method_button { 
	float:       right;
	border-left: 1px solid rgba(0,0,0,.3);
	padding:     0 9px;
	text-indent: 0px;
	line-height: inherit !important;
	margin-right: -304px;
	transition: .25s;
	-webkit-transition: .25s;
}
.MeteorToys_button_displayable {
	margin-right: 0px;
}


.MeteorToys_Method_button:hover {
	cursor: pointer;
	color: rgba(131, 202, 237, 1);
}

.MeteorToys_Method_contents {
	width: 612px;
	height: 331px;
	transition: .25s;
	-webkit-transition: .25s;
}
.MeteorToys_Method_contenta {
	width: 306px;
	height: 278px;
	float: left;
	padding: 0px 9px;
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	position: relative;
}
.MeteorToys_Method_contentb {
	width: 306px;
	height: 278px;
	float: left;
	padding: 0px 9px;
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	position: relative;
}
.MeteorToys_Method_contentc {
	margin-left: -306px;
}

#MeteorToys_method_clear {
	margin-right: 9px !important;

}

#MeteorToys_method_call, #MeteorToys_method_clear {
	float: right;
	margin-left: 9px;
	line-height: 28px !important;
	height: 28px;
	cursor: pointer;
}

.MeteorToys_method_subDiv {
	position: relative;
	padding-bottom: 84px;
	min-height: 100%;
}

